{{- if .Values.postgres.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "gasboat.postgres.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "gasboat.postgres.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: postgres
      protocol: TCP
      name: postgres
  selector:
    {{- include "gasboat.postgres.selectorLabels" . | nindent 4 }}
{{- end }}
